@model IEnumerable<Cars.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    var groupedReservations = Model.GroupBy(r => r.Car).ToList();
}

<h1>All Reservations</h1>

@foreach (var carGroup in groupedReservations)
{
    <h2>@carGroup.Key.Brand @carGroup.Key.Model: All Upcoming Reservations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Reservation Date</th>
                <th>Pickup Date</th>
                <th>Return Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in carGroup)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => reservation.User.FirstName) @Html.DisplayFor(modelItem => reservation.User.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => reservation.User.Email)</td>
                    <td>@Html.DisplayFor(modelItem => reservation.ReservationDate)</td>
                    <td>@Html.DisplayFor(modelItem => reservation.PickupDate)</td>
                    <td>@Html.DisplayFor(modelItem => reservation.ReturnDate)</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new{ReservationId=reservation.ReservationId},new {@class="btn btn-danger"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
