@model IEnumerable<Cars.Models.Reservation>

@{
    ViewData["Title"] = "Reservation";
}
@{
    var carId = ViewBag.CarId;
    var carName = ViewBag.CarName;
}

<h2>@ViewBag.CarName</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Create", "Create", new { carId = carId, carName = carName }, new { @class = "btn btn-success" })

