@model IEnumerable<Cars.Models.Reservation>

@{
    ViewData["Title"] = "Reservation";

    var isAdmin = User.IsInRole("Admin");
    var carId = ViewBag.CarId;
    var carName = ViewBag.CarName;
}

<h2>@ViewBag.CarName</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                @if (isAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new {  id=item.ReservationId  }, new { @class = "btn btn-warning btn-margin-right" })
                    @Html.ActionLink("Details", "Details", new { ReservationId=item.ReservationId }, new { @class = "btn btn-info btn-margin-right" })
                    @Html.ActionLink("Delete", "Delete", new { ReservationId=item.ReservationId }, new { @class = "btn btn-danger" })
                }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.Identity.IsAuthenticated)
{
        @Html.ActionLink("Reserve", "Create", new { carId = carId, carName = carName }, new { @class = "btn btn-success" })
}
else
{
    <button type="button" class="btn btn-secondary" disabled>Reserve</button>
    <p>
        You can't create a reservation. First, you must 
        <a href="@Url.Page("/Account/Login", new { area = "Identity" })">login</a> 
            or 
        <a href="@Url.Page("/Account/Register", new { area = "Identity" })">register an account</a>.
    </p>
}


