@model Cars.Models.Car

@{
    ViewData["Title"] = "Details";
    var isAdmin = User.IsInRole("Admin");
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <br />
    @if (isAdmin)
    {
        @Html.ActionLink("Edit", "Edit", new { carId = Model.Id  }, new { @class = "btn btn-warning btn-margin-right" })
        @Html.ActionLink("Delete", "Delete", new { carId=Model.Id }, new { @class = "btn btn-danger" })
        <br />
    }
    @Html.ActionLink("Reserve", "Reserve", "Reservation", new { carId = Model.Id, carName = Model.Brand + " " + Model.Model  }, new { @class = "btn btn-success" })
</div>
