@model IEnumerable<Cars.Models.Car>

@{
    ViewData["Title"] = "Index";
    var isAdmin = User.IsInRole("Admin");
}

<h1>Cars List</h1>
@if (isAdmin)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @if (isAdmin)
                {
                        @Html.ActionLink("Edit", "Edit", new {  carId=item.Id  }, new { @class = "btn btn-warning btn-margin-right" })
                        @Html.ActionLink("Delete", "Delete", new { carId=item.Id }, new { @class = "btn btn-danger" })
                }
            </td>
            <td style="text-align:end; padding-right:15%">
                @Html.ActionLink("Details", "Details", new { carId=item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Reserve", "Reserve", "Reservation", new { carId = item.Id, carName = item.Brand + " " + item.Model }, new { @class = "btn btn-success" })
            </td>
        </tr>
}
    </tbody>
</table>
